<div id="wrapper" >
  <p><canvas id="field" width="199" height="199"></canvas></p>

  <div id="control-box" class="btn-group" role="group">
    <button type="button" class="btn btn-success" id="btn-play"   >Play</button>
    <button type="button" class="btn btn-primary" id="btn-step"   >Step</button>
    <button type="button" class="btn btn-info"    id="btn-rand"   >Rand</button>
    <button type="button" class="btn btn-danger"  id="btn-clear"  >Clear</button>
  </div>
</div>
