<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"> 
    <title> Tag div </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  
  <body>
    <div class="new-button" >New</div>
    <div class="next-button" >Next</div>
    <div class="start-button" >Start</div>
    <div class="stop-button" >Stop</div>
  </body>
</html>
